@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
  color: #000;
}

:root {
  --main-color: #c92071;
  --black-color: #1f1f1f;
  --black-light-color: #474747;
}

html,
body {
  height: 100%;
}

header {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    gap: 0.2725rem;

    span {
      font-weight: 600;
      font-size: 1.25rem;
      color: var(--main-color);
    }
  }
}

main {
  background: linear-gradient(#b5b6f2, #efefff);
  padding: 3.9375rem 0 5.125rem;
}

form {
  width: 19.6875rem;
  height: 25.6875rem;
  background-color: #ffffff;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;

  h1 {
    font-size: 1.375rem;
    line-height: 2.125rem;
    letter-spacing: 0.125rem;
    text-align: center;
    color: var(--black-color);
  }

  p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.0156rem;
    color: var(--black-light-color);

    a {
      text-decoration: underline;
      color: var(--black-light-color);
    }
  }

  .input-box {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;

    label {
      font-weight: 700;
      font-size: 0.75rem;
      line-height: 1.5rem;
      letter-spacing: 0.0469rem;
      color: var(--black-light-color);
    }
    input {
      height: 3.75rem;
      border-radius: 0.5rem;
      border: none;
      outline-color: var(--main-color);
      background-color: #4747470c;

      padding: 0.75rem;
      font-size: 1rem;

      &::placeholder {
        color: #66666698;
      }
    }
  }

  button {
    height: 3rem;
    border: none;
    background-color: var(--main-color);
    border-radius: .5rem;
    color: #f5f5f5f5;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .0469rem;
    cursor: pointer;
    transition: .15s;

    &:active {
      background-color: #991956;
    }
  }

  .else-box {
    height: 4.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    small {
      font-size: .875rem;
      line-height: 22px; /*altura da linha*/
      letter-spacing: .0156rem;
  
    }

    .icon-box {
      display: flex;
      gap: 1.5rem;
    }
    }
  }

footer {
  background: var(--black-color);
  padding: 3.125rem 1.25rem 2.875rem;


  * {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
  }
  .top-footer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
    
    .social {
      a {
        display: flex;
        gap: .3362rem;    
      
        img {
          width: 1.375rem;
        }

        span {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
    }
  }
}
