@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style: none;
    color: #000;

}

:root {
    --main-color:#c92071;
    --black-color:#1f1f1f;
    --black-light-color:#474747;
}

html, body {
    height: 100%;

}

header {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        display: flex;
        gap: .2725rem;

        span {
            font-weight: 600;
            font-size: 1.25rem;
            color: var(--main-color);
        }
    }
}

main {
    background: linear-gradient(#b5b6f2, #efefff);
    padding: 3.9375rem 1.875rem 5.125rem;

    form {
        width: 19.6875rem;
        height: 25.6875rem;
        background-color: #ffffff;
        padding: 30px;

    }

    h1 {
        font-size: 1.375rem;
        line-height: 2.125rem;
        letter-spacing: .125rem;
        text-align: center;
        color: var(--black-color);
    }

    p {
        font-size: .875rem;
        line-height: 1.5rem;
        text-align: center;
        letter-spacing: .0156rem;
        color: var(--black-light-color);

    a {
        text-decoration: underline;
        color: var(--black-light-color);
     }
    }
    
}